body{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: rgba(17, 85, 233, 0.582);
}
h1{
    font-size: 10rem;
    color:#444444;
}
#div1{
    font-size: 4rem;
    color:#444444);
}
#div2{
    font-size: 10rem;
}